
extends _layout

block content
  //- inserting newlines to make splitting out status by regex easier
  p Database status: #{databaseStatus} #{'\n'}
  p Upload path status: #{uploadPathStatus} #{'\n'}  
  p iisnode version: #{iisnodeVersion} #{'\n'}
  p user id: #{userId} #{'\n'}
